@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-width: 8px;
}

* {
  color: #273648;
}

.poll-clip-path {
  clip-path: polygon(75% 0, 100% 21%, 100% 100%, 0 100%, 0 0);
}

/* width */
::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-width);
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: var(--scroll-width);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--scroll-width);
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
