@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-width: 8px;
  --toastify-toast-width: 420px !important;
}

.poll-clip-path {
  clip-path: polygon(75% 0, 100% 21%, 100% 100%, 0 100%, 0 0);
}

.custom-class-for-zero-padding .ProseMirror {
  padding: 0;
}

/* react-toastify */
.Toastify__close-button {
  align-self: normal !important;
  padding-right: 1rem !important;
  color: #fff !important;
}

/* width */
::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-width);
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: var(--scroll-width);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--scroll-width);
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
