:root {
  --green: rgb(78, 194, 194);
  --green-ring: rgba(78, 194, 194, 0.5);
  --green-hover: rgba(78, 194, 194, 0.1);
  --gray: rgb(39, 54, 72);
  --gray-placeholder: rgb(39, 54, 72, 0.6);
}

/* Menubar (tiptap-buttons) */
.tiptap-buttons button {
  padding: 10px;
  margin: 0 1px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.tiptap-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.tiptap-buttons button > * {
  fill: var(--green);
}
.tiptap-buttons button.is-active > * {
  fill: var(--gray);
}
.tiptap-buttons button.is-active {
  background-color: var(--green);
}
.tiptap-buttons button:hover {
  background-color: var(--green-hover);
}
.tiptap-buttons button.is-active:hover {
  background-color: var(--green);
}

/* tiptap editor */
.tiptap > * + * {
  margin-top: 0.75em;
}
.tiptap {
  outline: none;
  font-weight: 500;
  font-size: 18px;
  transition: all 300ms ease-in-out;
  border-bottom: 2px solid transparent;
  height: 16rem;
  overflow-y: scroll;
  padding: 0 4px;
}
.tiptap:hover {
  border-color: var(--gray-placeholder);
}
.tiptap:focus-within {
  border-color: var(--gray);
}
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}
.tiptap ol {
  list-style-type: decimal;
}
.tiptap ul {
  list-style-type: disc;
}
.tiptap ul li::marker {
  color: var(--green);
}
.tiptap h1 {
  font-size: 2em;
}
.tiptap h2 {
  font-size: 1.5em;
}
.tiptap h3 {
  font-size: 1.17em;
}
.tiptap h4 {
  font-size: 1em;
}
.tiptap h5 {
  font-size: 0.83em;
}
.tiptap h6 {
  font-size: 0.67em;
}
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-weight: semibold;
}
.tiptap pre {
  background: #1e293b;
  color: #f8fafc;
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px #ffffff1a;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap img {
  max-width: 100%;
  height: auto;
}
.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.tiptap a {
  color: var(--green);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--gray-placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
